<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User | Birla Institute of Applied Sciences</title>
  <link rel="stylesheet" href="styles/admin.css">
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="Images/favicon_io/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="Images/favicon_io/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="Images/favicon_io/favicon-16x16.png"
  />
  <link rel="manifest" href="Images/favicon_io/site.webmanifest" />
</head>
<body>
  <div class="header">
    <div>
      <h1>Hey! Admin</h1>
      <h2>Welcome to <strong>Birla Institute of Applied Sciences</strong></h2>
    </div>
  </div>
  <div class="navbar">
    <div class="menu">
        <a href="#" id="menu"><?xml version="1.0" encoding="utf-8"?>
          <svg
            width="28px"
            height="28px"
            viewBox="0 0 24 24"
            fill="white"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M4 6H20M4 12H20M4 18H20"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"/></svg></a>
      </div>
      <div class="nav2">
        <div class="nav1">
            <a href="#" class="nav">Home</a>
            <a href="#" class="nav">Academics</a>
            <a href="#" class="nav">Admission</a>
            <a href="#" class="nav">Placement</a>
            <a href="#" class="nav">Syllabi</a>
            <a href="#" class="nav">Alumini</a>
            <a href="#" class="nav">Administration</a>
            <a href="#" class="nav">Campus</a>
    </div>
    <div class="sidebar">
        <div href="#" id="cancel">
          <?xml version="1.0" encoding="UTF-8"?>
          <svg
            width="28px"
            height="28px"
            viewBox="0 0 512 512"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="Page-1"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <g
                id="work-case"
                fill="black"
                transform="translate(91.520000, 91.520000)"
              >
                <polygon
                  id="Close"
                  points="328.96 30.2933333 298.666667 1.42108547e-14 164.48 134.4 30.2933333 1.42108547e-14 1.42108547e-14 30.2933333 134.4 164.48 1.42108547e-14 298.666667 30.2933333 328.96 164.48 194.56 298.666667 328.96 328.96 298.666667 194.56 164.48"
                ></polygon>
              </g>
            </g>
          </svg>
        </div>
        <a href="/admin" class="nav">Home</a>
        <a href="#" class="nav">Academics</a>
        <a href="#" class="nav">Admission</a>
        <a href="#" class="nav">Placement</a>
        <a href="#" class="nav">Syllabi</a>
        <a href="#" class="nav">Alumini</a>
        <a href="#" class="nav">Administration</a>
        <a href="#" class="nav">Campus</a>
      </div>
      <div class="login">
        <a href="/logout" class="nav logout">Logout</a>
    </div>
      </div>
</div>
    <div class="message">
      <p>Please Approve the pending applications !!!</p>
    </div>
    <div class="student-table">
      <table>
          <thead>
              <tr>
                  <th>Student Name</th>
                  <th>Email</th>
                  <th>Father's Name</th>
                  <th>10th Percentage</th>
                  <th>12th Percentage</th>
                  <th>Course</th>
                  <th>Preferences</th>
                  <th>Approve</th>
                  <th>Decline</th>
              </tr>
          </thead>
          <tbody>
              <% for (let i = 0; i < locals.student.length; i++) { %>
                  <tr>
                      <td><%= student[i].full_name %></td>
                      <td><%= student[i].email %></td>
                      <td><%= student[i].f_name %></td>
                      <td>
                          <% let sum = student[i].eng_10 + student[i].sci_10 + student[i].maths_10 + student[i].sst_10 + student[i].hindi_10; %>
                          <% let percentage = (sum / 500) * 100; %>
                          <%= percentage.toFixed(2) %> %
                      </td>
                      <td>
                          <% let sum12 = student[i].physics_12 + student[i].chem_12 + student[i].maths_12 + student[i].elective_12 + student[i].english_12; %>
                          <% let percentage12 = (sum12 / 500) * 100; %>
                          <%= percentage12.toFixed(2) %> %
                      </td>
                      <td><%= student[i].course %></td>
                      <td>
                          <% if (student[i].course === "BTech") { %>
                              <% if (student[i].cse === 1) { %>
                                  CSE, ECE
                              <% } else { %>
                                  ECE, CSE
                              <% } %>
                          <% }else{ %>
                            -
                            <% } %>
                      </td>
                      <td>
                        <div style="display: flex; justify-content: center; align-items: center;">
                          <img src="Images/tick.svg" alt="Approve" class="approve" data-id="<%= student[i].email %>">
                        </div>
                    </td>
                    <td>
                      <div style="display: flex; justify-content: center; align-items: center;">
                        <img src="Images/wrong.svg" alt="Decline" class="decline" data-id="<%= student[i].email %>">
                      </div>
                    </td>
                  </tr>
              <% } %>
          </tbody>
      </table>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var sidebar=document.querySelector(".sidebar");
    var menu=document.querySelector(".menu");
    var cancel=document.querySelector("#cancel");
    menu.addEventListener("click",()=>{
        sidebar.style.display="flex";
    });
    cancel.addEventListener("click",()=>{
        sidebar.style.display="none";
    });
  $(document).ready(function() {
    $('.approve').on('click', function() {
        const studentId = $(this).data('id');
        $.ajax({
            url: '/approve',
            method: 'POST',
            data: { id: studentId },
            success: function(response) {
                alert('Application approved!');
            },
            error: function(xhr) {
                console.error(xhr);
                alert('Error approving application: ' + xhr.responseText);
            }
        });
    });

    $('.decline').on('click', function() {
        const studentId = $(this).data('id');
        $.ajax({
            url: '/decline',
            method: 'POST',
            data: { id: studentId },
            success: function(response) {
                alert('Application declined!');
            },
            error: function(xhr) {
                console.error(xhr);
                alert('Error declining application: ' + xhr.responseText);
            }
        });
    });
});

    // $(document).ready(function() {
    //     $('.approve').on('click', function() {
    //         const studentId = $(this).data('id');
    //         $.ajax({
    //             url: '/approve',
    //             method: 'POST',
    //             data: { id: studentId },
    //             success: function(response) {
    //                 alert('Application approved!');
    //             },
    //             error: function(xhr) {
    //                 alert('Error approving application: ' + xhr.responseText);
    //             }
    //         });
    //     });

    //     $('.decline').on('click', function() {
    //         const studentId = $(this).data('id');
    //         $.ajax({
    //             url: '/decline',
    //             method: 'POST',
    //             data: { id: studentId },
    //             success: function(response) {
    //                 alert('Application declined!');
    //             },
    //             error: function(xhr) {
    //                 alert('Error declining application: ' + xhr.responseText);
    //             }
    //         });
    //     });
    // });
</script>
</html>